<div id="homePage">
  <div class="hero text-center">
    <hero-item item-data="item" ng-repeat="item in main.heroContent">
    </hero-item>
  </div>
  <div class="scroll-down">
    <a href="#aboutPage" du-smooth-scroll="#aboutPage" duration="1000">
      <span></span><span></span><span></span>
      SCROLL
    </a>
  </div>
</div>
<div id="aboutPage">
  <div class="container">
    <h1 class="sectionHeader"><strong>ABOUT</strong></h1>
    <div class="row">
      <div class="bio">
        <div class="portrait">
        </div>
        <p>
          Hi I'm John, a full-stack developer from Irvine, CA currently working
          at McGraw Hill. I am also a recent graduate from the University of California
          Irvine with a B.S. in Computer Science. On a day to day basis, I enjoy working
          out, playing video games, and doing side projects. As a developer, I have
          experience using both the LAMP and MEAN stacks, with the MEAN stack being my
          preferred development stack because of awesome frontend javascript frameworks
          like AngularJS and ReactJS as well as the power and simplicity provided by
          the backend of NodeJS and ExpressJS.
          </br>
          </br>
          Welcome to my personal site! The primary focus of this site is to portray
          my skills as a software developer. Here you'll be able to find a list of my
          skills, projects I have worked on, and any relevant work experience. The purpose
          of this site is to simply illustrate my resume in a user-friendly format, but if
          you'd like to see the document form of my resume, there's a link for that under
          the resume section. Thanks for visiting, and enjoy your stay!!!
        </p>
      </div>
    </div>
    <h1 class="sectionHeader"><strong>ME</strong></h1>
    <div class="row">
      <div class="hobbies">
        <div class="col-md-4">
          <div class="me dumbbell text-center">
            <div><h3>LIFTING</h3></div>
            <img src="img/me/orange-dumbbell.png"/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="me coding text-center">
            <div><h3>CODING</h3></div>
            <img src="img/me/coding.png"/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="me gaming text-center">
            <div><h3>GAMING</h3></div>
            <img src="img/me/gaming.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="skillsPage">
  <div class="container">
    <h1 class="sectionHeader"><strong>SKILLS</strong></h1>
    <a target="_blank"
       href="https://drive.google.com/open?id=0B3sc3wmzfXCFUG1wZWdpVmdSV3c"
    >
      <button class="google-drive">
        <img src="img/resume/software/google_drive.png"/>
        Google Drive Resume
      </button>
    </a>
    <div class="row">
      <div class="col-sm-3 cplusplus">
      </div>
      <div class="col-sm-3 python">
      </div>
      <div class="col-sm-3 java">
      </div>
      <div class="col-sm-3 php">
      </div>
    </div>
  </div>
</div>