$breakSmall: 480;
$breakMedium: 768;

/************** MIXINS *****************/
@mixin transform-left-center($top-px) {
  top: $top-px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

@mixin transform-rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin transition-ease-in-out($sec) {
  -webkit-transition: $sec ease-in-out;
  -moz-transition: $sec ease-in-out;
  -o-transition: $sec ease-in-out;
  transition: $sec ease-in-out;
}

@mixin fade-in($sec) {
  -webkit-animation: fadeIn 1s ease;
  -moz-animation: fadeIn 1s ease;
  -o-animation: fadeIn 1s ease;
  animation: fadeIn 1s ease;
}


/************ CLASSES **************/



.navbar {
  height: 70px;
  background-color: transparent;
  &.show-nav-bg {
    -webkit-animation: slideInDown 1s;
    -moz-animation: slideInDown 1s;
    -o-animation: slideInDown 1s;
    background-color: #2c3e50;
  }
  .navbar-brand {
    display: block;
    margin-left: 30px;
    margin-top: 10px;
    letter-spacing: 10px;
    color: #fff;
    :hover {
      color: #16a085
    }
  }

  .navbar-nav {
    margin-top: 10px;
    margin-right: 30px;
    li {
      font-size: 15px;
      a {
        color: #fff;
      }
      a:hover {
        background-color: #16a085;
      }
      a:visited {
        background-color: #16a085;
      }
    }
  }

  .navbar-toggle {
    margin-top: 15px;
    margin-right: 30px;
    .icon-bar {
      background-color: #fff;
    }
  }

  .navbar-collapse {
    @media only screen and (max-width: ($breakMedium - 1) * 1px) {
      background-color: #34495e;
      overflow-y: hidden;
    }
  }
}

.nav-icon{
  display: none;
  width: 35px;
  height: 35px;
  margin-top:20px;
  margin-left:90%;
  @include transform-rotate(0deg);
  @include transition-ease-in-out(.5s);
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    @include transform-rotate(0deg);
    @include transition-ease-in-out(.25s);
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2), &:nth-child(3) {
      top:9px;
    }
    &:nth-child(4) {
      top: 18px;
    }
  }

  &.open {
    span {
      &:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        @include transform-rotate(45deg);
      }
      &:nth-child(3) {
        @include transform-rotate(-45deg);
      }
      &:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
    }
  }
  @media only screen and (max-width: ($breakMedium - 1) * 1px) {
    display: block;
  }
}

.sectionHeader {
  margin-top:70px;
  font-family: "Lato", sans-serif;
  font-size:80px;
  color: #2c3e50;
}

/************* CUSTOM KEY FRAMES ****************/
@-webkit-keyframes scroll-down-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scroll-down-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#homePage {
  background: url('../../img/backgrounds/mountain1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  .hero {
    padding-top: 300px;
    .hero-item {
      font-size: 30px;
      font-family: "Raleway", sans-serif;
      color: white;
      @include fade-in(1s);
    }
  }

  .scroll-down {
    a {
      padding-top: 80px;
      position: absolute;
      bottom: 10px;
      left: 50%;
      margin-left: -50px;
      display: inline-block;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      color: #fff;
      font-size: 20px;
      font-family: "Lato", sans-serif;
      text-decoration: none;
      transition: opacity .3s;
      span {
        position: absolute;
        left: 50%;
        top: 0;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: scroll-down-animation 2s infinite;
        animation: scroll-down-animation 2s infinite;
        opacity: 0;
        box-sizing: border-box;
      }
      span:nth-of-type(1) {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
      }
      span:nth-of-type(2) {
        top: 16px;
        -webkit-animation-delay: .15s;
        animation-delay: .15s;
      }
      span:nth-of-type(3) {
        top: 32px;
        -webkit-animation-delay: .3s;
        animation-delay: .3s;
      }
      &:hover {
        opacity: .5;
      }
    }
  }
}

#aboutPage {
  background: url('../../img/backgrounds/blur-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;

  .bio {
    margin-top: 50px;
    padding:20px;
    background-color: #ecf0f1;
    box-shadow: 10px 10px 5px #888888;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
  .hobbies {
    margin-top: 50px;
  }
  .portrait {
    float:left;
    margin-top:30px;
    background: url("../../img/me/selfie.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius:50%;
    border: 2px solid #2c3e50;
    display:block;
    margin-left:10px;
    margin-right:10px;
  }
  .me {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  .dumbbell {
    background-color: #e74c3c;
  }
  .coding {
    background-color: #3498db;
  }
  .gaming {
    background-color: #f1c40f;
  }
}